// Cuts of Lamb
// ------------------------------------------------------------------------------------------------

.inner {
  padding: 10.0rem 1.0rem 0 1.0rem;

  @include MQ(M) {
    border: 7px solid $color-black;
    padding: 0 6.0rem 0 4.0rem;
    margin-top: -35px;
  }
  // position: relative;
}

.cuts {
  padding: 4.0rem 0;

  @include MQ(M) {
    padding: 10.0rem 0 6.0rem 0;
  }

  h1 {
    background: $color-beige;
    padding: 0 4.0rem;
    position: relative;
  }
}


.hidden-labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include MQ(M) {
    padding: 0 50px;
  }

  > div {

    margin: 4.0rem 0 0 0;
    width: 100%;
    text-align: left;

    @include MAX(M) {
      display: block !important;
    }

    @include MQ(M) {
      padding: 0 2.5rem;
      margin: 0 auto;
    }
  }

   p {
    padding: 2.5rem 0;
    border-top: 1px solid $color-blue;
    border-bottom: 1px solid $color-blue;
    padding: 2.5rem 0;
    margin: 2.0rem 0 0 0;
   }
}

// SVG

.cut-svg-wrap {
  position: relative;
  // padding-left: 6.0rem;

  @include MQ(M) {
    min-height: 450px;
  }
}

.cut-svg {
  margin: -30px 0 -100px -20px;
  position: relative;
  z-index: 2;
  display: none;

  @include MQ(M) {
    display: block;
  }

  .group-it {
    cursor: pointer;
    position: relative;

    &:hover, &.active {
      text {
        fill: $color-white;
      }

      .label-box {
        fill: $color-blue;
        stroke: $color-blue;
      }
    }
  }
}

.lamb-img {
  margin-bottom: 6.0rem;

  @include MQ(XS) {
       max-width: 250px;
       height: auto;
       margin-bottom: 0;
     }


   @include MQ(M) {
        max-width: 330px;
        height: auto;
        position: absolute;
        top: 191px;
        z-index: 1;
        left: 83px;
      }
}


// .cuts {
//   img {
//     @include MQ(S) {
//       max-width: 330px;
//       height: auto;

//     }
//   }
// }
