body {
  background: $color-white;
  font-family: $font-primary;
}

.full-height {
  min-height: 100vh;
}

.blur {
  filter: blur(4px);
}

main {
  min-height: 100vh;
}

// .red {
//   color: $color-red;
// }

// @mixin color_class($color) {
//   .#{$color} {
//     color: $color;
//     background-image: url("images/#{$color}.jpg");

//     @if $color == red {
//       border: 1px solid black;
//     }
//   }
// }

// @mixin box($width) {
//   @if $width > 100px {
//     padding: 0px;
//   } 

//   @else if $width == 100px {
//     padding: 5px;
//   }

//   @else {
//     padding: 10px;
//   }
// }

// .hero {
//   @include box(100px);
// }

// @include color_class(blue);
// @include color_class(red);
// @include color_class(green);

// @each $member in thom, johnny, colin, phil {
//   .bandmember .#{$member} {
//     background: url("images/#{$member}.jpg");
//   }
// }

// @for $i from 1 through 100 {
//   .box:nth-child(#{$i}) {
//     background: darken(white, $i);
//   }
// }

@mixin box($size, $color, $display: block) {
  width: $size;
  height: $size;
  background: $color;
  display: $display;
}

.box {
  @include box($color: blue, $size: 20px);
}

@mixin band($name, $members...) {
  @each $member in $members {
    .#{$name} .#{$member} {
      background: url("images/#{$name}/#{$member}.jpg");
    }
  }
}

@include band(radiohead, thom, jonny, colin, phil);
@include band(nin, trent);
