.beige-bg {
  background: $color-beige;
}

.black-bg {
  background: $color-black;
}

.intro {
  padding: 4.0rem 0;

  h3 {
    padding: 2.0rem 0;
    border-top: 1px solid $color-blue;
    border-bottom: 1px solid $color-blue;
  }

  .box {
    @include MQ(L) {
      padding: 0 55px;

    }
  }
}

.content-section {
  padding: 4.0rem 0;
}

.full-height {
  min-height: 100vh;
}

.align-self-centered {
  align-self: center;
}

.blur {
  filter: blur(4px);
}

.right-align {
  text-align: right;
}

.col-right-wrap {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-end;
}

.row {
  &.cheat-neg-margin {
    margin-bottom: 0 -1rem;
  }

}

.border-top {
  border-top: 1px solid $color-black;
}

// Must have parent flex property

.recipes {
  .sub {
    margin-bottom: 6.0rem;
  }
}

.border-right {
  border-right: 1px solid $color-white;
  &.black {
    border-right: 1px solid $color-black;
  }
}

&.cheat-padding {
  padding: 0;
}

.yellow-ind {
  height: 0.6rem;
  width: 0.6rem;
  background: $color-yellow;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 10px;
}

.border-yellow {
  border-bottom: 1px solid $color-yellow;
  padding-top: 5px;
  margin-bottom: 2px;
}
