.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .image {
    height: auto;
    width: 250px;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    
    // IE image fix
    min-height: 1px;

    @include MQ(XS) {
      height: auto;
      width: 50vh;
      max-width: 450px;
    }
  }

  p {
  	color: $color-white;
  }
}


// .test {
//   cursor: pointer;

//   &:hover {
//     fill: $color-blue;

//     path {
//       stroke: $color-white;

//     }
//   }
// }

// .hindeshank {
//   path {
//     fill: $color-blue;
//   }
// }

// .rect {
//   height: 200px;
//   cursor: pointer;

//   &:hover {
//     fill: $color-blue;
//   }
// }