// Main
// ------------------------------------------------------------------------------------------------

main {
  background: $color-beige;
}

// Header
// ------------------------------------------------------------------------------------------------

header {
  background: transparent;
  height: 75px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  @include MQ(M) {
    height: 54px;
  }
}

// Footer
// ------------------------------------------------------------------------------------------------

footer {
  background: white;
  height: 185px;
  padding: 20px 0;


  @include MQ(XS) {
    height: 122px;
    padding: 0;
  }
}

