// Header
// ------------------------------------------------------------------------------------------------

header {
  background: $color-white;
  height: 75px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  @include MQ(M) {
    height: 50px;
  }
}

// Footer
// ------------------------------------------------------------------------------------------------

footer {
  background: white;
  height: 122px;
  // padding: 0 25px;
}
