.landing, .projects {
  min-height: 100vh;
}

.projects {
  padding: 18rem 0 10rem 0sub;
  .row {
    margin-bottom: 1.0rem;
  }
}

.project {
  height: 350px;
  background: $color-black;
  color: $color-white;
  display: flex;

  p {
    margin: auto;
  }
}

.img-wrap {
  max-width: 391px;
  height: auto;
  margin: 0 auto;

  img {
    max-width: 100%;
    height: auto;
  }
}

.link-wrap {
  max-width: 140px;
  margin: 0 auto;
}