main {
}

.landing {
  height: 100%;
  width: 100%;
  background: url('../img/jugo-flora-pattern-landscape.png') no-repeat center center;
  background-size: cover;

  @media only screen and (max-device-width : 767px) and (orientation : landscape) {
    height: 100%;
    background: url('../img/jugo-flora-pattern-landscape.png') no-repeat center center;
    background-size: cover;
  }

  @media only screen and (max-device-width : 767px) and (orientation : portrait) {
    height: 100%;
    background: url('../img/jugo-flora-pattern-portrait.png') no-repeat center center;
    background-size: cover;
  }
}

.coming-soon {
  margin-bottom: 7vh;
}

.img-wrap {
  max-width: 391px;
  height: auto;
  margin: 0 auto;

  object {
    height: 25.6vh;

    @include MQ(XS) {
      height: 31vh;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.link-wrap {
  width: 100%;
  text-align: center;
  margin-top: 8vh;
  display: flex;
  justify-content: center;

  .links {
    max-width: 140px;
  }

  a {
    &:first-child {
      margin-bottom: 1.7vh;
    }
  }
}