.landing {
  // height: calc(100vh - 50px);
  height: 100vh;
  background-size: cover;
  background: $color-yellow;
  // background: url('http://unsplash.it/1200x800') center center no-repeat;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top right, $color-yellow, $color-red);
    opacity: .15; 
  }
}
