.recipe-template {
  min-height: calc(100vh - 150px);
  padding-bottom: 100px;
  padding-top: 50px;
}

.recipe-img {
  background: url('../img/psalad.jpg') no-repeat center center;
  background-size: cover;
  height: 250px;
  margin-bottom: 3rem;

  &.med-lamb {
    background: url('../img/Mediterranean-Loin-Chops.jpg') no-repeat center center;
    background-size: cover;
  }

  &.kale {
    background: url('../img/kale.jpg') no-repeat center center;
    background-size: cover;
  }

  &.lamb-stew {
    background: url('../img/Slow Cooker Lamb Stew.jpg') no-repeat center center;
    background-size: cover;
  }

  &.cumin-rack-lamb {
    background: url('../img/Grilled Rack of Lamb with White Bean Salad.jpg') no-repeat center center;
    background-size: cover;
  }

  &.lamb-pizza {
    background: url('../img/Lamb-Pizza-with-Arugula.jpg') no-repeat center center;
    background-size: cover;
  }

  &.lamb-burger {
    background: url('../img/Classic Lamb Burger_Horiz.jpg') no-repeat center center;
    background-size: cover;
  }

  &.med-style-lamb-burger {
    background: url('../img/Weber Restaurant Mediterranean Lamb Burger Horiz.jpg') no-repeat center center;
    background-size: cover;
  }

  &.lamb-loin-chops {
    background: url('../img/Mediterranean-Loin-Chops.jpg') no-repeat center center;
    background-size: cover;
  }

  &.lamb-veggie-kabob {
    background: url('../img/Grilled Lamb and Vegetable Kabobs.jpg') no-repeat center center;
    background-size: cover;
  }

  &.lamb-shanks {
    background: url('../img/Lamb Shank with White Beans.jpg') no-repeat center center;
    background-size: cover;
  }

  &.butterflied {
    background: url('../img/Grilled Butterflied Leg of Lamb.jpg') no-repeat center center;
    background-size: cover;
  }

  &.peach {
    background: url('../img/Grilled Lamb and Vegetable Kabobs.jpg') no-repeat center center;
    background-size: cover;
  }

  &.farro {
    background: url('../img/Grilled Lamb and Vegetable Kabobs.jpg') no-repeat center center;
    background-size: cover;
  }

  @include MQ(S) {
    height: 400px;
  }
}

.recipe {
  max-width: 980px;
  padding-top: 90px;
  position: relative;

  @include MQ(M) {
    padding-top: 60px;
  }

  .col-xs-12 {
    &:first-child {
      margin-bottom: 60px;
    }
  }
}

.ingredient-text {
  border-bottom: 1px solid $color-green;
  border-top: 1px solid $color-green;
  margin-bottom: 3rem;
  padding: 0.5rem 0;
}

.spacer {
  margin: 2.0rem 0;
}

.recipe-title {
  border-top: 5px solid $color-black;
  font-family: $font-tertiary-bold;
  font-size: 3.0rem;
  padding: 2.0rem 0;
}

// @include MQ(XS) {
//   .recipe {
//     .col-xs-12 {
//       &:first-child {
//         margin-bottom: 60px;
//       }
//     }
//   }
// }

.ingredients {
  .col {
    -ms-flex: 0 1 auto;
    flex-basis: 95%;
    max-width: 95%;

    &:first-child {
      flex-basis: 5%;
      max-width: 5%;
    }
  }
}

.step-instruction {
  padding: 0 0.5rem;
  float: left;
  margin-bottom: 3.0rem;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    display: inline-block;
    float: left;
    width: 90%;

    &:first-child {
      display: inline-block;
      float: left;
      margin-right: 5%;
      width: 0;
    }
  }
}

.ct-ind {

  @include MAX(L) {
    display: flex;
  }

  .cook-block {
    height: 65px;
    margin: 0 0 10px 10px;
    padding: 0;
    width: 65px;

    @include MQ(L) {
      left: -50px;
      margin: auto;
      position: absolute;

      &:nth-child(2) {
        top: 135px;
      }

      &:nth-child(3) {
        top: 211px;
      }
    }
  }
}