.recipe-template {
  min-height: calc(100vh - 150px);
  padding-top: 50px;
  padding-bottom: 100px;
}

.recipe-img {
  background: url('../img/psalad.jpg') no-repeat center center;
  background-size: cover;
  height: 250px;
  margin-bottom: 3rem;

  &.med-lamb {
    background: url('../img/Mediterranean-Loin-Chops.jpg') no-repeat center center;
    background-size: cover;
  }

  &.kale {
    background: url('../img/kale.jpg') no-repeat center center;
    background-size: cover;
  }

  @include MQ(S) {
    height: 400px;
  }
}

.recipe {
  padding-top: 90px;
  max-width: 980px;
  position: relative;

  @include MQ(M) {
    padding-top: 60px;
  }

  .col-xs-12 {
    &:first-child {
      margin-bottom: 60px;
    }
  }
}

.ingredient-text {
  padding: 0.5rem 0;
  border-top: 1px solid $color-green;
  border-bottom: 1px solid $color-green;
  margin-bottom: 3rem;
  // margin-bottom: 1.5rem;
}

.spacer {
  margin: 2.0rem 0;
}

.recipe-title {
  font-size: 3.0rem;
  font-family: $font-tertiary-bold;
  padding: 2.0rem 0;
  border-top: 5px solid $color-black;
}

@include MQ(XS) {
  .recipe {
    .col-xs-12 {
      &:first-child {
        margin-bottom: 60px;
      }
    }
  }
}

.ingredients {
  .col {
    flex-basis: 95%;
    max-width: 95%;

    &:first-child {
      flex-basis: 5%;
      max-width: 5%;
    }
  }
}

.step-instruction {
  margin-top: 3.0rem;
  padding: 0 0.5rem;

  p {
    display: flex;
    flex-basis: 95%;
    max-width: 95%;

    &:first-child {
      display: flex;
      flex-basis: 5%;
      max-width: 5%;
    }
  }
}

// .ct-ind {
//   .cook-block {
//     margin-bottom: 1.5rem;
//     height: 65px;
//     width: 65px;
//     padding: 0 4px;
//   }
// }

.ct-ind {

  @include MAX(L) {
    display: flex;
  }

  .cook-block {
    padding: 0;
    height: 65px;
    width: 65px;
    margin: 0 0 10px 10px;


    @include MQ(L) {

      position: absolute;
      left: -50px;
      margin: auto;

      &:nth-child(2) {
        top: 135px;
      }
    }
  }
}