.card {
  margin-bottom: 4.0rem;

  @include MQ(L) {
    padding: 0 2.0rem;
    // padding: 0 1.0rem;
    margin-bottom: 5.0rem;
  }
}

.card-inner {
  background: $color-white;
  padding: 1.5rem;
  cursor: pointer;

  .label {
    padding-top: 0.8rem;

    h3 {
      padding-top: 0.5rem;
      font-size: 1.8rem;

      @include MQ(S) {
        font-size: 2.2rem;
      }
    }
  }

  .bg-img {
    height: 178px;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    background: rgba($color-black, .2);
    @include global-transition;

    &:before {
      @include global-transition;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba($color-green, .75);
      opacity: 0;
    }


    p {
      font-size: 1.8rem;
      color: $color-white;
      display: flex;
      margin: auto;
      opacity: 0;
      position: relative;
      z-index: 10;
      font-family: $font-tertiary-bold;
      text-transform: uppercase;
      @include global-transition;

    }
  }

  &:hover {
    p {
      @include global-transition;
      opacity: 1;
    }

    .bg-img {
      &:before {
        @include global-transition;
        opacity: 1;
      }
    }
  }
}

.cook-block {
  background: $color-black;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 60px;
  width: 60px;
  margin: auto;

  @include MQ(S) {
    height: 100%;
    width: auto;
    padding: 0 10px;
  }

   p {
    color: $color-white;
    margin: auto;
    display: flex;
    font-size: 1.2rem;
   }
}