.tab-row {
	margin: 5.0rem 0;
}

.kitchen {
  .tab-row {
    margin: 5.0rem 0 7.5rem 0;
  }
}

.transformer-tabs {
  ul {
	
  }

  li {
    display: inline-block;
  }

  a {
    &.active {
      position: relative;
      background: $color-black;
      color: $color-white;
    }

    &.white {
      &.active {
        background: $color-white;
        color: $color-black;
      }
    }
  }

  @include MAX(M) {
    ul {
      border-bottom: 0;
      overflow: hidden;
      position: relative;

      // &::after {
      //   content: "☰";
      //   position: absolute;
      //   top: 8px;
      //   right: 15px;
      //   z-index: 2;
      //   pointer-events: none;
      // }

      .btn {
      	border-top: 0;
      }

      &.open {
        a {
          position: relative;
        }
      }
    }

    li {
      display: block;

      .btn {
      	border-top: 0;
      }

      &:first-child {

      	.btn {
      		border-top: 3px solid $color-black;

          &.white {
            border-top: 3px solid $color-white;
          }
      	}
      }
    }


    a {
      position: absolute;
      margin: 0;

      &.active {
        z-index: 1;
      }
    }
  }
}

.tabs {
  > .tab-it {
    display: none;

	// opacity: 0;
 //    position: absolute;
 //    transition: opacity 0.5s ease-in-out;

  }
  > .active {
    display: block;

    // opacity: 1;
    // transition: opacity 0.5s ease-in-out;

  }
}
.tabs {
  margin-bottom:30px;
}